<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
    </div>
</nav>

<div class="container center text-center">
    <div class="container inner_container">
        <div class="row text-center Absolute-Cente is-Responsive">
            <div class="page-header">
                <h1>CHAT</h1>
            </div>
            <form>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" type="text" name='handle' placeholder="handle" ng-model="login_data.handle"/>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="" checked>Remember me</label>
                </div>
                <button type="button" class="btn btn-primary btn-block" ng-click="login()"><span class="glyphicon glyphicon-off"></span>
                    Login</button>
            </form>
        </div>
    </div>
</div>


